
head {
    background-color:#E2D308;
    color:black}
    
body {background-color:#EFEAAD; 
      color:black}

div#list {background-color:#E2D308; color:black; max-width:50%; margin:auto;}
div#contact {background-color:#EFEAAD; color:black; margin:auto}

hr {color:black}

img.displayed {display:block; margin-left:auto; margin-right:auto}